@media (max-width:500px){
    /* navbar */
    .navbar-brand b{
        font-size: 22px;
    }
    /* animationimage */
    .carousel-inner .animationimage{
    height: 250px;
    }
    .mobile-search{
        background-color: #0F172A;
        margin-bottom: 10px;
    }
    /*hero section*/
    .col--2 > ul > li > a{
        font-size: 21px;
    }

    .video{
        max-width: 300px;
        height: 200px;
    }
    .detilas h2{
     font-size: 25px;
    }
    
}


@media (max-width:1000px){
    .video{
        max-width:300px;
    } 
}