@media (max-width:500px){
    /* navbar */
    .navbar-brand b{
        font-size: 22px;
    }
    /* animationimage */
    .carousel-inner .animationimage{
    height: 250px;
    }
    .mobile-search{
        background-color: #0F172A;
        margin-bottom: 10px;
    }
}