 /* navbar */

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -9px;
}
.navbar-brand b{
    font-size: 32px;
    color: rgba(52, 211, 153, 1) !important;
}
.navbar{
    background-color: rgba(15, 23, 42, 0.95);
    border-bottom: 5px solid #003893;
}
.navbar .nav-link{
    color: rgba(248, 250, 252, 0.8) !important;
    transition: 2s;
    font-family: Verdana;
    font-size: 22px;
    font-weight: 700px;
}
.navbar .active{
 color: rgba(52, 211, 153, 1) !important;
}
.navbar .nav-link:hover{
    color: rgba(52, 211, 153, 1) !important;
}

 /* animationimage */
.carousel-inner .animationimage{
    height: 400px;
    cursor: pointer;
}

/* SearchBox */

.SearchBox{
    background-color: #0F172A;
    color: #34D399;
    /* height: 70px; */
}
#Search{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    max-width: 450px;
    margin-top: 10px;
    height: 50px;
    outline: none;
    color: rgba(52, 211, 153, 1);
}
#Search:focus{
    box-shadow: 0 0 8px #00ead3;
}
.Search-icon{
    margin-left: -45px;
}
.text-animations::before{
    content: "HTML Course";
    animation: change-text 10s infinite;
}
@keyframes change-text{
     0% { opacity: 1; content: "HTML Course"; }
     5% { opacity: 0; }
    10% { opacity: 1; content: "HTML Basic"; }
    15% { opacity: 0; }
    20% { opacity: 1; content: "HTML Elements"; }
    25% { opacity: 0; }
    30% { opacity: 1; content: "HTML Attributes"; }
    35% { opacity: 0; }
    40% { opacity: 1; content: "HTML Headings"; }
    45% { opacity: 0; }
    50% { opacity: 1; content: "HTML Page Titile"; }
    55% { opacity: 0; }
    60% { opacity: 1; content: "HTML List"; }
    65% { opacity: 0; }
    70% { opacity: 1; content: "HTML Div"; }
    75% { opacity: 0; }
    80% { opacity: 1; content: "HTML Button"; }
    85% { opacity: 0; }
    90% { opacity: 1; content: "HTML Tables"; }
    95% { opacity: 0; }
    100% { opacity: 1; content: "HTML iframes";}
}

/* hero section */
.container-fluid .col--2{
    background: #0B1226;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #1E3A8A;

}
.sidebar-title{
    font-size: 25px;
    font-weight: 700;
    color: #22C55E;
    text-align: center;
    margin-top: 10px;
}
.col--2 > ul{
    list-style-type: none;
}
.col--2 > ul > li > a{
    color: #E5E7EB;
    text-decoration: none;
    font-family: Verdana;
    font-weight: 400;
    font-size: 17px;
    margin-left: -21px;
}
.col--2 > ul > li > a:hover{
    background: #0EA5E9;
    color: #ffffff;
}
.col--2::-webkit-scrollbar{
  width:6px;
}

.col--2::-webkit-scrollbar-thumb{
  background:#0EA5E9;
  border-radius:10px;
}

.col--2::-webkit-scrollbar-track{
  background:#0B1226;
}
.list-title{
    font-size: 25px;
    font-weight: 700;
    color: #22C55E;
    text-align: center;
    margin-top: 10px;
    margin-left: -51px;
}
.video{
    width: 690px;
    height: 270px;
    border-radius: 10px;
    margin-top: 15px;
    border-bottom: 2px solid #00F2FF;

}
.video-title{
    color: #00F2FF;
    font-family: Verdana;
    font-size: 30px;
    margin-top: 15px;
}
.detilas{
    margin-top: 25px;
}
.detilas h2{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #00F2FF;
  
}
